@using ShoeStore.Models;
@{string login = ""; ShoeStore.Models.getUserSession_Result user = null;
    if (Session[ShoeStore.Common.CommonConstants.USER_SESSION] != null)
    {
        login = "logged-in";
        user = Session[ShoeStore.Common.CommonConstants.USER_SESSION] as ShoeStore.Models.getUserSession_Result;
        // total quantity cart
        //check login
        var sessionMaNguoiDung = (Customer)Session["CheckTaiKhoan"];

    }
    var cart_total_Quantity = (ShoeStore.Models.Carts)Session["Cart"];
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("Styles", required: false)

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css"
          integrity="sha512-UTNP5BXLIptsaj5WdKFrkFov94lDx+eBvbKyoe1YAfjeRPC+gT5kyZ10kOHCfNZqEui1sxmqvodNUx3KbuYI/A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
          integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="app-header">
        <div class="navbar-wrap">
            <div class="ham-menu">
                <i class='bx bx-menu-alt-right'></i>
            </div>
            <div class="toggle-btn">
                <i class='bx bxs-chevron-right'></i>
            </div>
            <div class="logo-wrap">GHK2P</div>
            <div class="nav-menu-wrap">
                <div class="nav-menu-item"><a href="@Url.RouteUrl("trangchu")">home</a></div>
                <div class="nav-menu-item"><a href="@Url.RouteUrl("danhsachsanpham")">collections</a></div>
            </div>
            <div class="tool-nav-menu-wrap">
                <div class="tool-nav-menu">
                    <div class="tool-item">
                        @using (Html.BeginForm("List", "Products", FormMethod.Get))
                        {
                            <div class="search-form">
                                <input type="text" style="border: solid 2px grey; border-radius: 5px; height: 35px;" name="searchString" placeholder="Search...">
                                <button class="border-0 bg-body" type="submit">
                                    <svg width="22" height="22" viewBox="0 0 40 40" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M23.8213 24.205L37.9858 38.3695" stroke="black" stroke-width="3"
                                              stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M2 14.8532C2 21.7397 7.58262 27.3223 14.4691 27.3223C17.9183 27.3223 21.0406 25.9218 23.2979 23.6584C25.5475 21.403 26.9383 18.2905 26.9383 14.8532C26.9383 7.96665 21.3556 2.38403 14.4691 2.38403C7.58262 2.38403 2 7.96665 2 14.8532Z"
                                              stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </button>
                            </div>
                        }
                    </div>
                    <div style="position:relative;bottom:-5px" class="tool-item">
                        <a class="text-decoration-none" href="@Url.Action("ShowCart", "Cart")">
                            <svg width="22" height="22" viewBox="0 0 44 41" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M7.10895 39.2862H36.785C37.3659 39.2862 37.8616 38.7922 37.9573 38.1177L41.5224 12.9496C41.643 12.0974 41.0845 11.3215 40.3501 11.3215H3.54388C2.80954 11.3215 2.25097 12.0974 2.37169 12.9496L5.93675 38.1177C6.03226 38.7922 6.52802 39.2862 7.10895 39.2862Z"
                                      stroke="black" stroke-width="3" />
                                <path d="M12.0441 11.3216V6.66078C12.0441 4.0867 13.8175 2 16.0053 2H27.8888C30.0766 2 31.85 4.0867 31.85 6.66078V11.3216"
                                      stroke="black" stroke-width="3" />
                            </svg>
                            @if (cart_total_Quantity == null)
                            {

                                int cart_total = 0;
                                <span style="position:relative; bottom:-7px; left:-10px; font-size:12px" class="text-bg-danger rounded-circle px-1">@cart_total</span>
                            }
                            else
                            {
                                int cart_total = Convert.ToInt32(cart_total_Quantity.Total_quantity().ToString());
                                <span style="position:relative; bottom:-5px; left:-10px" class="text-bg-danger rounded-circle px-1">@cart_total</span>
                            }
                        </a>
                    </div>
                </div>
                <div class="account-wrap">
                    @if (Session["CheckTaiKhoan"] != null)
                    {
                        var nguoidung = (Customer)Session["CheckTaiKhoan"];
                        <li class="nav-item dropdown list-unstyled">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="">Hello, @nguoidung.CustomerUsername</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="@Url.Action("HistoryPay", "Products")">History</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("ProfileView", "Product", new { area = "admin" })">ProFile</a></li>
                                <li> <a class="dropdown-item" href="@Url.Action("Logout","Auth", new { area = "" })">Logout</a></li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <div class="login-btn">
                            <a href="@Url.Action("Login", "Auth")">Log in</a>
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>

    <div class="main-body">
        @RenderBody()
        <div class="footer-wrap">
            <div class="footer-img-wrap">
                <img src="~/Images/footer.png" alt="">
            </div>
            <div class="footer-banner-wrap">
                <div class="footer-banner-main-wrap">
                    <div class="footer-main-about">
                        <div class="footer-about-logo">ghk2p</div>
                        <div class="footer-about-detail">
                            <div class="line-detail">Providing online sneaker delivery service.</div>
                            <div class="line-detail">With more than 200+ beautiful and luxurious sneaker</div>
                            <div class="line-detail">as gifts for many special occasions of the year.</div>
                        </div>
                    </div>
                    <div class="footer-main-contact">
                        <div class="get-help contact-item">
                            <div class="contact-title">Get help</div>
                            <a href="">Delivery</a>
                            <a href="">Return</a>
                            <a href="">Contact Us</a>
                        </div>
                        <div class="about-us contact-item">
                            <div class="contact-title">About us</div>
                            <a href="">News</a>
                            <a href="">Careers</a>
                            <a href="">Investors</a>
                        </div>
                        <div class="social-network contact-item">
                            <div class="contact-title">Social network</div>
                            <a href="">Facebook</a>
                            <a href="">Instagram</a>
                            <a href="">Twitter</a>
                        </div>
                    </div>
                </div>
                <div class="footer-banner-license">
                    &copy; @DateTime.Now.Year GHK2P. All Rights Reserved
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"
            integrity="sha512-gY25nC63ddE0LcLPhxUJGFxa2GoIyA5FLym4UJqHDEMHjp8RET6Zn/SHo1sltt3WuVtqfyxECP38/daUc/WVEA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
            integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    @Scripts.Render("~/bundles/js")
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    @RenderSection("scripts", required: false)
</body>
</html>

