
@{
    ViewBag.Title = "QLSanPham";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var successMessage = TempData["SuccessMessage"] as string;
    var errorMessage = TempData["ErrorMessage"] as string;
}

@if (!string.IsNullOrEmpty(successMessage))
{
    <div id="notice" class="alert alert-success text-light" style="background: linear-gradient(90deg, #54BF5A 0.7%, #2D9147 71.82%);">@successMessage</div>
}
@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-success text-light" style="background: linear-gradient(90deg, #54BF5A 0.7%, #2D9147 71.82%);">@errorMessage</div>
}

<div class="container" style="background-color: #F2F2F2; padding: 50px; margin: auto" ">

    <div class="col mb-3">
        <form action="@Url.RouteUrl("ThemThongTin")" method="post" class="w-100">
            <div class="form-horizontal w-100 mx-auto" style="background-color: white; padding: 30px; border-radius: 1rem">

                <h4> @ViewBag.sua.ProductName  </h4>
                <hr />
                <div class="row">
                    @*<div class="col">
                            <label for="" class="form-label my-3">ID</label>
                            <input type="hidden" name="id" class="form-control" value="@ViewBag.sua.ProductId" />
                        </div>*@
                    <div class="col">
                        <label for="" class="form-label my-3">Color</label>
                        <select name="color" id="" class="form-select p-2 mw-100" }>
                            @foreach (var color in ViewBag.Color)
                            {
                                <option value="@color.ColorId">@color.ColorName</option>
                            }
                        </select>
                        <input type="hidden" name="id" class="form-control" value="@ViewBag.sua.ProductId" />
                    </div>
                    <div class="col">
                        <label for="" class="form-label my-3">Size</label>
                        <select name="size" id="" class="form-select p-2 mw-100" }>
                            @foreach (var size in ViewBag.Size)
                            {
                                <option value="@size.SizeId">@size.SizeValue</option>
                            }
                        </select>

                    </div>
                    <div class="col">
                        <label for="" class="form-label my-3">Quantity</label>
                        <input type="text" name="quantity" class="form-control" value="" required/>
                    </div>
                </div>

                <div class="d-flex justify-content-end text-lg-end">
                    @Html.ActionLink("Cancel", "manager", "Product", new { @class = "btn btn-outline-success mt-3", @style = "border-radius: 1.5rem;  width: 100px;" })
                    <button class="btn btn-success mt-3" name="ProductID" style="border-radius: 1.5rem; width: 100px; margin-left: 15px;" type="submit" value="@ViewBag.sua.ProductId">Add</button>
                </div>
            </div>
        </form>
    </div>

    <div class="col mb-3">
        <form action="@Url.RouteUrl("UpdateSP")" method="post" class="w-100">
            <div class="form-horizontal w-100 mx-auto" style="background-color: white; padding: 30px; border-radius: 1rem">
                <table class="table table-hover">

                    <tr>
                        <th>
                            <label>ID</label>
                        </th>
                        <th>
                            <label>Size</label>
                        </th>
                        <th>
                            <label>Color</label>
                        </th>

                        <th>
                            <label>Quantity</label>
                        </th>
                        <th>

                        </th>

                    </tr>

                    @foreach (var item in ViewBag.TypeList)
                    {
                        <tr>
                            <td>
                                <input class=" qty " type="number" name="id" id="quantity" value="@item.Id" readonly />

                            </td>
                            <td>
                                <select class=" size readonly" name="size" id="size" value="">
                                    <option value="@item.SizeId">@item.SizeValue</option>
                                </select>
                            </td>

                            <td>
                                <select class=" size readonly" name="color" id="size" value="">
                                    <option value="@item.ColorId">@item.ColorName</option>
                                </select>
                            </td>
                            <td>
                                <input class=" qty " type="number" name="quantity" id="quantity" value="@item.Quantity" />
                            </td>

                            <td>
                                <button class="btn btn-success mt-3" name="ProductID" style="border-radius: 1.5rem; width: 100px; margin-left: 15px;" type="submit" value="@item.ProductId">Save</button>
                            </td>

                        </tr>
                    }

                </table>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <script>
    $(document).ready(function () {
            if ($("#notice").is(':visible')) {
                $("#notice").fadeIn(2000, function () {
                    $("#notice").fadeOut(3000)
                });
            }
        });</script>
}

@*@Html.ActionLink("Cancel", "manager", "Product", new { @class = "btn btn-outline-success mt-3", @style = "border-radius: 1.5rem;  width: 100px;" })*@




